@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="content">
        <section>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center vh-100">
                    <div class="card mb-3 border-primary" style="max-width: 400px;">
                        <div class="row g-0">
                            <div class="text-center">
                                <img src="/Logo/AbnoLogo.png" style="width: 185px;" alt="logo">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

@RenderSection("Scripts", required: false)
