@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var Scolor = "white";
    if (user != null)
    {
        Scolor = user.Secondary;
    }
     var role = user.Role;
    if (role != UserRole.Admin)
    {
        Context.Response.Redirect("home");
    }
}

<div class="container-fluid ml-0 p-0 mb-3">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:@Scolor">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline"></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Index" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-bricks"></i> <span class="ms-1 d-none d-sm-inline">Admin Panel</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="UserManagement" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-person-badge"></i> <span class="ms-1 d-none d-sm-inline">User management</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Products" asp-action="index" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-briefcase-fill"></i> <span class="ms-1 d-none d-sm-inline">Product management</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="UserProducts" asp-action="index" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-house"></i><span class="ms-1 d-none d-sm-inline">Subscription management</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class=" container col-10">
            @RenderBody()

        </div>

        </div>
        </div>
       @RenderSection("Scripts", required: false)
