@model Abno.Models.AdminViewModel
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<div class="col-12">
    <h3 class="text-capitalize" style="font-weight:600">Dashboard</h3>
    <div class="card shadow feedback">
        <div class="row">
            <div class="col">
                <div class="card border-warning pl-2 m-2">
                    <div class="card-body">
                        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning m-2">
                    <div class="card-body">
                        <div id="pieContainer" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-warning pl-2 m-2">
                    <div class="card-body">
                        <div id="lineContainer" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    <script>
        window.onload = function () {
            // Populate data for the bar chart
            var barDataPoints = [];
        @foreach (var product in Model.UsersPerProduct.Keys)
        {
            <text>barDataPoints.push({ label: "@product.Name", y: @Model.UsersPerProduct[product].Count }); </text>
        }

                    var barChart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Product subscriptions"
                },
                axisY: {
                    title: "Subscribers",
                    gridThickness: 0
                },
                data: [{
                    type: "bar",
                    indexLabel: "{y}",
                    dataPoints: barDataPoints
                }]
            });
            barChart.render();

            var pieChart = new CanvasJS.Chart("pieContainer", {
                theme: "light2",
                exportEnabled: false,
                animationEnabled: true,
                title: {
                    text: "Products Marketshare"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(Model.DataPoints)
                        }]
            });
            pieChart.render();

            var lineChart = new CanvasJS.Chart("lineContainer", {
                animationEnabled: true,
                title: {
                    text: "Product Trends By Day"
                },
                axisX: {
                    title: "Date"
                },
                axisY: {
                    title: "Subscribers"
                },
                toolTip: {
                    shared: true
                },
                data: []
            });

            var lineGraphData = @Html.Raw(Model.LineGraphData);
            for (var productName in lineGraphData) {
                if (lineGraphData.hasOwnProperty(productName)) {
                    var dataPoints = lineGraphData[productName].map(function (point) {
                        return { label: point.label, y: point.y };
                    });

                    lineChart.options.data.push({
                        type: "line",
                        name: productName,
                        showInLegend: true,
                        dataPoints: dataPoints
                    });
                }
            }

            lineChart.render();
        }
    </script>
}
